<?xml version="1.0" encoding="utf-8" ?>
<config>
  <filesigning>
    <signtool>C:\Tools\sse\Build\certificates\sign.bat</signtool>
    <certificate>C:\Tools\sse\Build\certificates\serena_authenticode.pfx</certificate>
    <signparams>sign /t http://timestamp.verisign.com/scripts/timstamp.dll /f</signparams>
    <verifyparams>verify /v /a /pa</verifyparams>
  </filesigning>
  <reservedwords>
    <word>ACTION</word>
    <word>ADDDEFAULT</word>
    <word>ADDLOCAL</word>
    <word>ADDDSOURCE</word>
    <word>AdminProperties</word>
    <word>AdminUser</word>
    <word>ADVERTISE</word>
    <word>AFTERREBOOT</word>
    <word>AllowProductCode</word>
    <word>Mismatches</word>
    <word>AllowProductVersionMajorMismatches</word>
    <word>ALLUSERS</word>
    <word>Alpha</word>
    <word>ApiPatchingSymbolFlags</word>
    <word>ARPAUTHORIZEDCDFPREFIX</word>
    <word>ARPCOMMENTS</word>
    <word>ARPCONTACT</word>
    <word>ARPHELPLINK</word>
    <word>ARPHELPTELEPHONE</word>
    <word>ARPINSTALLLOCATION</word>
    <word>ARPNOMODIFY</word>
    <word>ARPNOREMOVE</word>
    <word>ARPNOREPAIR</word>
    <word>ARPPRODUCTIONICON</word>
    <word>ARPREADME</word>
    <word>ARPSIZE</word>
    <word>ARPSYSTEMCOMPONENT</word>
    <word>ARPULRINFOABOUT</word>
    <word>ARPURLUPDATEINFO</word>
    <word>AVAILABLEFREEREG</word>
    <word>BorderSize</word>
    <word>BorderTop</word>
    <word>CaptionHeight</word>
    <word>CCP_DRIVE</word>
    <word>ColorBits</word>
    <word>COMPADDLOCAL</word>
    <word>COMPADDSOURCE</word>
    <word>COMPANYNAME</word>
    <word>ComputerName</word>
    <word>CostingComplete</word>
    <word>Date</word>
    <word>DefaultUIFont</word>
    <word>DISABLEADVTSHORTCUTS</word>
    <word>DISABLEMEDIA</word>
    <word>DISABLEROLLBACK</word>
    <word>DiskPrompt</word>
    <word>DontRemoveTempFolderWhenFinished</word>
    <word>EnableUserControl</word>
    <word>EXECUTEACTION</word>
    <word>EXECUTEMODE</word>
    <word>FASTOEM</word>
    <word>FILEADDDE</word>
    <word>FAULT</word>
    <word>FILEADDLOCAL</word>
    <word>FILEADDSOURCE</word>
    <word>IncludeWholeFilesOnly</word>
    <word>Installed</word>
    <word>INSTALLLEVEL</word>
    <word>Intel</word>
    <word>Intel64</word>
    <word>IsAdminPackage</word>
    <word>LeftUnit</word>
    <word>LIMITUI</word>
    <word>ListOfPatchGUIDsToReplace</word>
    <word>ListOfTargetProductCode</word>
    <word>LOGACTION</word>
    <word>LogonUser</word>
    <word>Manufacturer</word>
    <word>MEDIAPACKAGEPATH</word>
    <word>MediaSourceDir</word>
    <word>MinimumRequiredMsiVersion</word>
    <word>MsiAMD64</word>
    <word>MSIAPRSETTINGSIDENTIFIER</word>
    <word>MSICHECKCRCS</word>
    <word>MSIDISABLERMRESTART</word>
    <word>MSIENFORCEUPGRADECOMPONENTRULES</word>
    <word>MsiFileToUseToCreatePatchTables</word>
    <word>MsiHiddenProperties</word>
    <word>MSIINSTANCEGUID</word>
    <word>MsiLogFileLocation</word>
    <word>MsiLogging</word>
    <word>MsiNetAssemblySupport</word>
    <word>MSINEWINSTANCE</word>
    <word>MSINODISABLEMEDIA</word>
    <word>MsiNTProductType</word>
    <word>MsiNTSuiteBackOffice</word>
    <word>MsiNTSuiteDataCenter</word>
    <word>MsiNTSuiteEnterprise</word>
    <word>MsiNTSuiteSmallBusiness</word>
    <word>MsiNTSuiteSmallBusinessRestricted</word>
    <word>MsiNTSuiteWebServer</word>
    <word>MsiNTSuitePersonal</word>
    <word>MsiPatchRemovalList</word>
    <word>MSIPATCHREMOVE</word>
    <word>MSIRESTARTMANAGERCONTROL</word>
    <word>MsiRestartManagerSessionKey</word>
    <word>MSIRMSHUTDOWN</word>
    <word>MsiRunningElevated</word>
    <word>MsiUIHideCancel</word>
    <word>MsiUIProgressOnly</word>
    <word>MsiUISourceResOnly</word>
    <word>MsiSystemRebootPending</word>
    <word>MsiWin32AssemblySupport</word>
    <word>NOCOMPANYNAME</word>
    <word>NOUSERNAME</word>
    <word>OLEAdvtSupport</word>
    <word>OptimizePatchSizeForLargeFiles</word>
    <word>OriginalDatabase</word>
    <word>OutOfDiskSpace</word>
    <word>OutOfNoRbDiskSpace</word>
    <word>ParentOriginalDatabase</word>
    <word>ParentProductCode</word>
    <word>PATCH</word>
    <word>PATCH_CACHE_DIR</word>
    <word>PATCH_CACHE_ENABLED</word>
    <word>PatchGUID</word>
    <word>PATCHNEWPACKAGECODE</word>
    <word>PATCHNEWSUMMARYCOMMENTS</word>
    <word>PATCHNEWSUMMARYSUBJECT</word>
    <word>PatchOutputPath</word>
    <word>PatchSourceList</word>
    <word>PhysicalMemory</word>
    <word>PIDKEY</word>
    <word>PIDTemplate</word>
    <word>Preselected</word>
    <word>PRIMARYFOLDER</word>
    <word>PrimaryVolumePath</word>
    <word>PrimaryVolumeSpaceAvailable</word>
    <word>PrimaryVolumeSpaceRemaining</word>
    <word>PrimaryVolumeSpaceRequired</word>
    <word>Privileged</word>
    <word>ProductCode</word>
    <word>ProductID</word>
    <word>ProductLanguage</word>
    <word>ProductName</word>
    <word>ProductState</word>
    <word>ProductVersion</word>
    <word>PROMPTROLLBACKCOST</word>
    <word>REBOOT</word>
    <word>REBOOTPROMPT</word>
    <word>RedirectedDllSupport</word>
    <word>REINSTALL</word>
    <word>REINSTALLMODE</word>
    <word>RemoveAdminTS</word>
    <word>REMOVE</word>
    <word>ReplacedInUseFiles</word>
    <word>RestrictedUserControl</word>
    <word>RESUME</word>
    <word>RollbackDisabled</word>
    <word>ROOTDRIVE</word>
    <word>ScreenX</word>
    <word>ScreenY</word>
    <word>SecureCustomProperties</word>
    <word>ServicePackLevel</word>
    <word>ServicePackLevelMinor</word>
    <word>SEQUENCE</word>
    <word>SharedWindows</word>
    <word>ShellAdvtSupport</word>
    <word>SHORTFILENAMES</word>
    <word>SourceDir</word>
    <word>SOURCELIST</word>
    <word>SystemLanguageID</word>
    <word>TARGETDIR</word>
    <word>TerminalServer</word>
    <word>TextHeight</word>
    <word>Time</word>
    <word>TRANSFORMS</word>
    <word>TRANSFORMSATSOURCE</word>
    <word>TRANSFORMSSECURE</word>
    <word>TTCSupport</word>
    <word>UILevel</word>
    <word>UpdateStarted</word>
    <word>UpgradeCode</word>
    <word>UPGRADINGPRODUCTCODE</word>
    <word>UserLanguageID</word>
    <word>USERNAME</word>
    <word>UserSID</word>
    <word>Version9X</word>
    <word>VersionDatabase</word>
    <word>VersionMsi</word>
    <word>VersionNT</word>
    <word>VersionNT64</word>
    <word>VirtualMemory</word>
    <word>WindowsBuild</word>
    <word>WindowsVolume</word>
    <word>DATABASE</word>
  </reservedwords>
</config>

